<router-outlet></router-outlet>

<div class="black">
  <h1> {{ title }} </h1>
</div>
<div class="ash">
   <h2>{{ name }}</h2>
   <h2>{{ email }}</h2>

   <button 
    (click)="toggleHobbies()" 
    class="btn">
    {{ !showHobbies ? 'Mostrar Hobbies' : 'Ocultar Hobbies' }}
  </button>

   <div *ngIf="showHobbies" class="component2">
      <h3>hobbies:</h3>
      <ul>
        <li *ngFor= "let hobby of hobbies">{{ hobby }}</li>
      </ul>
   </div>
   <a href="{{ webpage }}" target="_blank">Visita mi sitio Web</a>

<h3>Añade hobby: </h3>
<form (submit)="newHobby(hobby)">
  <input #hobby type="text" placeholder="hobby">
</form>
</div>

<app-hello-world></app-hello-world>

<ul>
    <app-user *ngFor="let user of users" [nameUser]="user"></app-user>
</ul>

<!-- <div class="ash">
  <h3>Modifica el contenido:</h3>
  <label for="name">Name: </label>
   <input 
    type="text" 
    name="name" 
    placeholder="change the name" 
    [(ngModel)] = "name"
    #myModel = "ngModel"
   >
  <label for="email">Email: </label>
  <input 
    type="text" 
    name="email" 
    placeholder="change the email" 
    [(ngModel)] = "email"
  >
</div> -->

<div class="black">
  <h1> {{ title }} </h1>
</div>
